<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Drive</title>
    <link rel="stylesheet" href="../css/default.css">
</head>
<body>

    <h1>Registreren</h1>
    <p>Voer hieronder uw gebruikersnaam en wachtwoord in</p>
    <form action="../controllers/register_user.php" method="post">
        <label for="name">Volledige naam</label>
        <input type="text" id="name" name="name" size="50"><br>
        <label for="username">Gebruikersnaam</label>
        <input type="text" id="username" name="username" max="50"><br>
        <label for="email">Emailadres</label>
        <input type="text" id="email" name="email" size="50"><br>
        <label for="password">Wachtwoord</label>
        <input type="password" id="password" name="password"><br>
        <label for="password">Herhaal wachtwoord</label>
        <input type="password" id="password_repeat" name="password_repeat"><br>
        <br>
        <input type="submit" name="submit" value="Registreren">
    </form>

    <br>
    <p><i>Terug naar de <a href="../index.html">homepage</a></i></p>
</body>
</html>